@import '././../mixins.scss';

:host {
  @include flex-center;
  @include width-height(100vw, 50vw);
}

.container {
  @include flex-center;
  @include flex-direction(column);
  @include width-height(600px, 350px);

  background-image: $gradientBackground;
  padding: 15px 20px;
  border-radius: $borderRadius;
  color: $textColor2;
  text-align: center;

  box-shadow: 0 3px 6px rgb(4, 15, 23, 0.1),
    0 3px 6px rgba(10, 29, 43, 0.2);

  .stopwatch {
    font-size: 70px;
    margin-bottom: 45px;
  }

  .button-container {
    @include flex(flex-start, space-around);

    button {
      @include button-style();
      &:not(:last-child){ 
        margin-right: 10px;
      }
      
      &:hover {
        background: rgb(160, 194, 255);
        transition: 0.2s;
      }
    }

  }
}